body {
    font-family: arial, helvetica;

}


a {
    font-weight: 700;
}

h4 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color:cadetblue
}

#info{
    border: 3px solid;
    width: 100%;
    height: 12vw;;
}
#contenedor{

    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20%;
    height: 1%;
}
#texto{
    border: 3px solid;
    display:flex;
    width:100%;
    height: 5vw;
    font-size: medium;
}
#info p{
    margin:1px;
}
#info h1{
    margin:1px;
}

#numero{
    font-size: 2vw;;
    display:flex;
    width:20vw;
    height: 5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#numdiv{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:15vw;
    height: 12vw;
    border: 2px solid;
    align-items: center;
    font-size: 25px;
    text-align: center;
    justify-content: center;

}