body {
    font-family: arial, helvetica;

}

#body3{
    display:flex;
    align-items:  center;
    flex-direction: column;
    
}

a {
    font-weight: 700;
}

h4 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color:cadetblue
}

#info{
    border: 3px solid;
    width: 500px;
    height: 250px;
}
#contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 400px;
}
#texto{
    border: 3px solid;
    display:flex;
    width: 500px;
    height: 50px;
    font-size: medium;
}
#info p{
    margin:1px;
}
#info h1{
    margin:1px;
}

#numero{
    font-size: 2vw;;
    display:flex;
    width:20vw;
    height: 5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#numdiv{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 300px;
    height: 200px;
    border: 2px solid;
    align-items: center;
    font-size: 25px;
    text-align: center;
    justify-content: center;

}