body {
    font-family: arial, helvetica;
    

}


a {
    font-weight: 700;
}

h4 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color:cadetblue
}

#info{
    border: 2px solid;
    width: 20vw;
    height: 12vw;;
}
#contenedor{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:14vw;
    height: 25vw;
}
#texto{
    border: 2px solid;
    width:20vw;
    height: 5vw;
    font-size: medium;
}
#info p{
    margin:2px;
}
#info h1{
    margin:2px;
}